**/*.wasm
public/scenes
/target
*.ply

*.npz
*.npy
*.model
!teaser.png
node_modules/
*.exr
*.DS_Store# Ignore docs and TestModel 
TestModel/ 
*.onnx
.claude/settings.local.json
models/models.zip
src/ort/ort-wasm-simd-threaded.mjs
src/ort/ort-wasm-simd-threaded.wasm
src/ort/ort-wasm-simd.mjs
src/ort/
WebGaussianJS.zip
public/ort/
.idea/
.vscode/

# @kangan npm run build
dist/
docs/*
!docs/index.md
!docs/guide/
!docs/guide/**
!docs/zh/
!docs/zh/**
!docs/modules/
!docs/modules/**
!docs-docs/
!models/onnx_dummy.onnx
logs/
models_download/
src/VisionaryCore/
datasets/
*.tgz
package-lock.json

models/
**/*.DS_Store
.DS_Store
onnx-export/.DS_Store
onnx-export/ONNXExample-Avatar/.DS_Store
src/.DS_Store
.DS_Store
